body {
    font-family: "Open Sans", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    --text-color: #00b298;
}
.vpsize {
    width: 100vw;
    height: 75vh;
}
.hzcenter {
    margin: auto;
}
.webicity-name {
    color: var(--text-color);
    font-size: 3em;
}
.valign {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about {
    margin-left: 10%;
    margin-right: 10%;
}
